.project-hero {
    background: linear-gradient(350deg, #f8c6ff -6%, rgba(255, 196, 255, 0) 60%), #ffeec4;
}

.project-hero {
    position: relative;
    padding: 200px 0 0;
    height: 550px;
    z-index: -1;
}

.project-hero-container {
    max-width: 100%;
    margin: 0 auto;
    transition: all .2s ease-in-out;
}

.project-images {
    margin: 0 auto;
    max-width: 100%;
}

.project-images img {
    transition: all .1s ease-in-out;
    position: relative;
    max-width: 20%;
    left: 40%;

}

.social-wrapper {
    display: grid;
    grid-template-rows: 1fr 1f 1fr 1fr;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    position: fixed;
    top: 25%;
    right: 1%;
    z-index: 5;
}

.social-wrapper img {
    width: 70px;
}

.social-wrapper img:hover {
    transform: scale(1.2);
    background-color: pink;
    border-radius: 50px;
}

.about-section {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1600px;
}

.section-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    margin-bottom: 8em;
}

.row {
    padding: 10px;
    margin-top: 20px;
    border-radius: 12px;
    border: #f8c6ff solid 3px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
}

.col2 .row {
    grid-row-gap: 10px;
}

.abilities-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.col-left,
.col-right {
    margin: 10px;
}

.col-left,
.col-right h2 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
}

.col-left img {
    width: 125px
}

.col-right .intro {
    font-size: 1.3em;
    line-height: 1.5;
}

.col-right li {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    line-height: 3;
    display: flex;
    font-weight: 600;
}

.col-right li p {
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px
}


@media (max-width: 1024px) {
    .project-hero {
        height: 500px;
        max-width: 1024px;
    }

    .project-hero-container {
        max-width: 1024px;
    }

    .project-images img {
        min-width: 40%;
        left: 30%;

    }

    .section-wrapper {
        display: block;
        text-align: center;
        margin-top: 15em;
    }

    .col1 {
        margin-bottom: 4em;
    }
}

@media (max-width: 420px) {

    h2 {
        text-align: center;
        font-size: 1em;
        margin-bottom: 0;
    }

    .col-right ul p {
        text-align: left;
    }

    .project-hero-container {
        padding: 3em 4em;
        width: 95%;
        text-align: center;
        max-width: 420px;
    }

    .project-hero {
        height: 250px;
    }

    .project-images img {
        min-width: 80%;
        left: 5%;
        top: -150px;

    }

    .section-wrapper {
        display: block;
        text-align: center;
        width: 90%;
        margin-left: 5%;
        margin-top: 10em;
    }

    .abilities-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 15px;
        grid-column-gap: 15px;
    }
}
