* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;

}

p {
    margin-bottom: 10px;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: white;
    display: block;
    overflow-x: hidden;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #221E28;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.logo {
    position: relative;
    float: left;
    text-decoration: none;
}

.logotext {
    position: static;
    margin-bottom: -5px;
    margin-left: 49px;
    padding-left: 16px;
    float: none;
    clear: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

.tagline {
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1.1px;
    text-transform: none;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-top: 15px;
}

.nav-links li {
    list-style: none;
    display: block;
    transition-duration: 0.5s;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 11px;
    padding: 5px 12px 5px 16px;
    letter-spacing: 2.75px;
}

.nav-links a:hover {
    position: relative;
    bottom: 2px;
    display: inline;
    background: white;
    border-radius: 35px;
    color: black;
}

.navlinks.active {
    border-radius: 35px;
    background-color: white;
    color: black;
}

/* Burger menu */


.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 5px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 7px);
    background-color: black;

}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-7px, -7px);
    background-color: black;

}

/*drop-down*/

ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 10rem;
    position: absolute;
    transition: all 0.5s ease;
    display: none;
    padding: 1em 0;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

/*Mediaq*/

@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }


    nav {
        width: 100%;
        height: 12vh;

    }

    header {
        position: sticky;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        right: 0;
        height: 100vh;
        top: 0vh;
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        transform: translateX(100%);
        margin-top: 0;
    }

    .navlinks.active {
        background-color: #221E28;
        color: white;
    }

    .nav-links a {
        font-size: 14px;
        color: black;
    }

    .nav-links li {
        opacity: 1;
    }

    ul li:hover > ul,
    ul li ul:hover {
        visibility: hidden;
    }

    .burger {
        display: block;
    }
}
