/* Generelt */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;


}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: white;
    font-size: 14px;
    line-height: 20px;
    color: black;
    display: block;
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #221E28;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;

}

.logo {
    position: relative;
    float: left;
    text-decoration: none;
}

.logotext {
    position: static;
    margin-bottom: -5px;
    margin-left: 49px;
    padding-left: 16px;
    float: none;
    clear: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

.tagline {
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1.1px;
    text-transform: none;
}


/*drop-down*/

ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    padding: 1.5em 0em;
    background-color: #221E28;
    border-radius: 0px 0px 20px 20px;

}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}


/*selve navigationen*/
.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-top: 15px;

}

.nav-links li {
    list-style: none;
    display: block;
    transition-duration: 0.5s;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 11px;
    padding: 5px 12px 5px 16px;
    letter-spacing: 2.75px;
}

.nav-links a:hover {
    position: relative;
    bottom: 2px;
    display: inline;
    background: #f8c6ff;
    border-radius: 35px;
    color: black;
}

.navlinks.active {
    border-radius: 35px;
    background: #ffeec4;
    color: black;
}


.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 5px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}



/* Burger menu til X */

.toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 7px);
    background-color: black;

}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-7px, -7px);
    background-color: black;

}


/*main - forside */
.sidebar-wrapper {
    position: fixed;
    left: 0px;
    top: 0vh;
    right: 552px;
    bottom: 0px;
    z-index: -1;
    width: 40%;
    height: 100%;
    padding: 75px 85px 50px;
    background-color: #221E28;
    color: white;
}

.about-container {
    position: absolute;
    top: 10%;
    width: 80%;
    opacity: 1;
    text-align: center;
    left: 10%;

}

.about h1 {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 2em;

}

.about_text {
    display: block;
    width: 100%;
    flex-direction: column;
    font-size: 16px;
    line-height: 36px;
}

.front-image {
    width: 80%;
    margin-top: 2em;
}

.back-to-landing {
    position: fixed;
    bottom: 15px;
    left: 15px;
    width: 2%;
}

.back-to-landing:hover {
    transform: scale(1.5);
    transform: rotate(10deg);
}

.content-wrapper {
    position: static;
    overflow: visible;
    width: 60%;
    max-width: 1200px;
    margin-left: 40%;
    float: none;
    clear: none;
    background: linear-gradient(338.83deg, #f8c6ff -3.41%, rgba(255, 196, 255, 0) 52.31%), #ffeec4;
    color: black;
}

/*---------------------- scroll down funktion ---------------------*/

.mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin-top: 125px;
    position: fixed;
    bottom: 5px;
    margin-left: 2em;
}

.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    transform: rotate(45deg);
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0 0 3px 4px;
    width: 16px;
    height: 16px;
}

.one {
    margin-top: 1px;
    animation-direction: alternate;
    animation-delay: alternate;
}

.two {
    animation-delay: .2s;
    animation-direction: alternate;
    margin-top: -6px;
}

.three {
    animation-delay: .3s;
    animation-direction: alternate;
    margin-top: -6px;
}

.one,
.two,
.three {
    animation: mouse-scroll 1s infinite;
}

.mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid black;
    top: 170px;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: black;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid black;
    border-radius: 8px;
}

.wheel {
    animation: mouse-wheel 1s linear infinite;
}

@keyframes mouse-wheel {

    0% {
        top: 1px;
    }

    25% {
        top: 2px;
    }

    50% {
        top: 3px;
    }

    75% {
        top: 2px;
    }

    100% {
        top: 1px;
    }
}

@keyframes mouse-scroll {

    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 2;
    }
}

.tema_image {
    width: 50%;
    margin-left: 40%;
}

.tema_image:hover {
    transform: translate3d(0, -10px, 0);
}

.tema_nummer {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    margin-left: 95%;
    font-weight: 600;
}

.title {
    margin-top: -20px;
    margin-left: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.sub_title {
    margin-top: 5px;
    margin-left: 0px;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.sub_title a {
    color: black;
}

.sub_title a:hover {
    color: lightcyan;
}



.tema {
    width: 100%;
    height: auto;
    padding: 65px;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.tema:hover {
    transform: translate3d(0, -5px, 0);
}

.footer-wrapper {
    background-color: white;
}

.footer-p {
    color: mediumpurple;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
}


@media screen and (max-width: 1024px) {

    .about {
        width: auto;
    }

    .mouse_scroll {
        display: none;
    }

    .sidebar-wrapper {
        position: static;
        width: 100%;
        height: auto;
        padding-right: 55px;
        padding-left: 55px;
    }

    .content-wrapper {
        width: 100%;
        margin-left: 0%;
        float: none;
        clear: none;
    }

    .about_text {
        width: 100%;
        margin-top: 35px;
        padding-right: 85px;
        padding-left: 85px;
    }

    .about-container {
        position: static;
        width: 100%;
    }

    .tema_image {
        margin-bottom: 35px;
        margin-left: 25%;
    }

    .back-to-landing {
        display: none;
    }

    /*    nav    */

    body {
        overflow-x: hidden;
    }


    nav {
        width: 100%;
        height: 12vh;

    }

    header {
        position: sticky;
        z-index: 1000;
        top: 0;
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        right: 0;
        height: 100vh;
        top: 0vh;
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        transform: translateX(100%);
        margin-top: 0;
    }

    .navlinks.active {
        background-color: #221E28;
        color: white;
    }

    .nav-links a {
        font-size: 14px;
        color: black;
    }

    .nav-links li {
        opacity: 1;
    }

    ul li:hover > ul,
    ul li ul:hover {
        visibility: hidden;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

.overflow {
    overflow: hidden;
}

@media (max-width: 420px) {
    .about h1 {
        font-size: 50px;
    }

    .about_text {
        padding: 0;
    }

    .nav-links {
        width: 100%;
    }

    .sidebar-wrapper {
        position: static;
        width: 100%;
        height: auto;
        padding: 25px 45px 75px;
    }

    .content-wrapper {
        width: 100%;
        margin-left: 0%;
    }

    .footer-wrapper {
        padding-right: 35px;
        padding-left: 35px;
    }

    .about-container {
        position: static;
        width: 100%;
    }
}
