* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;


}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: white;
    font-size: 14px;
    line-height: 20px;
    color: black;
    display: block;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #221E28;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.logo {
    position: relative;
    float: left;
    text-decoration: none;
}

.logotext {
    position: static;
    margin-bottom: -5px;
    margin-left: 49px;
    padding-left: 16px;
    float: none;
    clear: none;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

.tagline {
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1.1px;
    text-transform: none;
}

/*drop-down*/

ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 10rem;
    position: absolute;
    transition: all 0.5s ease;
    display: none;
    padding: 1em 0;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}


/*selve navigationen*/
.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-top: 15px;
}

.nav-links li {
    list-style: none;
    display: block;
    transition-duration: 0.5s;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 11px;
    padding: 5px 12px 5px 16px;
    letter-spacing: 2.75px;
}

.nav-links a:hover {
    position: relative;
    bottom: 2px;
    display: inline;
    background: white;
    border-radius: 35px;
    color: black;
}

.navlinks.active {
    border-radius: 35px;
    background-color: white;
    color: black;
}


.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 5px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}



/* Burger menu til X */

.toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 7px);
    background-color: black;

}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-7px, -7px);
    background-color: black;

}


/*main */

.sidebar-wrapper {
    position: fixed;
    left: 0px;
    top: 0vh;
    right: 552px;
    bottom: 0px;
    z-index: -1;
    width: 40%;
    height: 100%;
    padding: 75px 85px 50px;
    background: linear-gradient(338.83deg, #f8c6ff -3.41%, rgba(255, 196, 255, 0) 52.31%), #ffeec4;
}

.about-container {
    position: absolute;
    left: 85px;
    right: 0px;
    bottom: 15%;
    width: 65%;
    opacity: 1;

}

.about {
    display: flex;
    width: 200px;
    height: auto;
    margin-left: 20%;
}

.about_text {
    display: block;
    width: 100%;
    margin-top: 25px;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

}

.aboutme_btn {
    padding: 15px 45px;
    border-radius: 100px;
    background-color: #80B002;
    font-size: 16px;
    margin-left: 25%;

}

.w-button {
    display: inline-block;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

}

.social {
    height: 24px;
    margin-top: 45px;
    margin-bottom: 65px;
    text-align: center;
}

.content-wrapper {
    position: static;
    overflow: visible;
    width: 60%;
    max-width: 1200px;
    margin-left: 40%;
    float: none;
    clear: none;
}

.tema_image {
    width: 50%;
    margin-left: 40%;
}

.tema_nummer {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    margin-left: 95%;
    font-weight: 600;
}

.title {
    margin-top: -20px;
    margin-left: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
}

.sub_title {
    margin-top: 5px;
    margin-left: 0px;
    float: left;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 600;

}

.tema2 {
    width: 100%;
    height: auto;
    padding: 65px;
    background-color: #221E28;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.tema3 {
    width: 100%;
    height: auto;
    padding: 65px;
    background-color: #1A191C;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.tema4 {
    width: 100%;
    height: auto;
    padding: 65px;
    background-color: #1d0740;
    color: white;
    font-family: 'Poppins', sans-serif;

}

.tema5 {
    width: 100%;
    height: auto;
    padding: 65px;
    background-color: #0f0422;
    color: white;
    font-family: 'Poppins', sans-serif;

}

.tema6 {
    width: 100%;
    height: auto;
    padding: 65px;
    background-color: #0d2b4e;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.footer-wrapper {
    background-color: #e0e0e0;
}

.footer-p {
    color: #999;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}

@media screen and (max-width: 1000px) {

    .about {
        margin-left: 30%;
        height: 400px;
        width: auto;
    }

    .sidebar-wrapper {
        position: static;
        width: 100%;
        height: auto;
        padding-right: 55px;
        padding-left: 55px;
    }

    .content-wrapper {
        width: 100%;
        margin-left: 0%;
        float: none;
        clear: none;
    }

    .about_text {
        width: 100%;
        margin-top: 35px;
        padding-right: 85px;
        padding-left: 85px;
    }

    .aboutme_btn {
        margin-left: 40%;
    }

    .social {
        opacity: 1;
        text-align: center;
    }

    .about-container {
        position: static;
        width: 100%;
    }

    .tema_image {
        margin-bottom: 35px;
        margin-left: 25%;
    }

    /*    nav    */

    body {
        overflow-x: hidden;
    }


    nav {
        width: 100%;
        height: 12vh;

    }

    header {
        position: sticky;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
    }

    .nav-links {
        position: fixed;
        right: 0;
        height: 100vh;
        top: 0vh;
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        transform: translateX(100%);
        margin-top: 0;
    }

    .navlinks.active {
        background-color: #221E28;
        color: white;
    }

    .nav-links a {
        font-size: 14px;
        color: black;
    }

    .nav-links li {
        opacity: 1;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

.overflow {
    overflow: hidden;
}

@media (max-width: 600px) {
    .about {
        height: 500px;
        width: auto;
        margin: 0;
    }

    .sidebar-wrapper {
        position: static;
        width: 100%;
        height: auto;
        padding: 25px 45px 75px;
    }

    .content-wrapper {
        width: 100%;
        margin-left: 0%;
    }

    .footer-wrapper {
        padding-right: 35px;
        padding-left: 35px;
    }

    .aboutme_btn {
        margin-left: 30%;
    }

    .about_text {
        width: 100%;
    }

    .social {
        margin-top: 45px;
    }

    .about-container {
        position: static;
        width: 100%;
    }
}
