body {
    background: #221E28;
}

.maintitle {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 7%;
    text-transform: uppercase;
    letter-spacing: 2.75px;
    font-size: 2rem
}

.tiles {
    z-index: 999;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 4em auto 0;
    gap: 4em;
}

.tile {
    background: #f4ac4b;
    width: 100%;
    border-radius: 20px;
    position: relative;
    transition: all .4s ease-in-out;
    padding: 3em 3em 4em;
}

.tile1 {
    background: linear-gradient(338.83deg, #f8c6ff -3.41%, rgba(255, 196, 255, 0) 52.31%), #ffeec4;
}

.tile2 {
    background: linear-gradient(6.03deg, #dacdff .5%, rgba(218, 205, 255, 0) 46.89%), #ffeaee;
}

.tile-number {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    opacity: 0.6;
    text-align: left;
    letter-spacing: 1.5px;
    font-weight: 600;
    color: gray;

}

.tile-title {
    font-family: 'Poppins', sans-serif;
    display: block;
    margin-bottom: 1em;
    text-align: left;
    font-size: 25px;
    color: black;
    text-transform: uppercase;


}

.tile-holder {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.tile-image {
    position: relative;
    transition: all .4s ease-in-out;
    display: inline-block;
    max-width: 75%;
}

@media (min-width: 544px) {
    .tiles {
        gap: 7em;
        margin: 120px auto 0;
    }

    .tile:hover {
        transform: translate3d(0, -5px, 0);
        box-shadow: 0 52px 74px rgba(0, 0, 0, .12)
    }

    .tile:hover img {
        transform: translate3d(0, -10px, 0)
    }

    .tile-title {
        font-size: 27px;
        text-align: right
    }

    .tile-number {
        text-align: right;
    }
}


@media (min-width: 1230px) {
    .tile {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        height: 1000px;
    }

    .tiles {
        max-width: 90&;
    }

    .tile-number {
        position: absolute;
        right: 60px;
        top: 60px;
    }

    .tile-title {
        position: absolute;
        right: 60px;
        top: 90px;
    }
}
