/* --------------------------- Generelt --------------------------*/

.section-row {
    box-sizing: border-box;
    min-width: 100%;
}

.section-col {
    margin-left: 25%;
    width: 50%;
    float: left;
    margin-bottom: 10%;
    box-sizing: border-box;
}

.project-sub-title {
    text-transform: uppercase;
}


/* --------------------------- Text section top ------------------------*/

.text-section-top {
    max-width: 1600px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}


.text-section-top h2 {
    line-height: 120%;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 3em;
    text-transform: uppercase;
    font-size: 42px;
    letter-spacing: -.5px;
    margin-top: 8em;
}

.text-section-top-short h2 {
    margin-top: 0em;
}

.beskrivelse li {
    font-family: 'Poppins', sans-serif;
    line-height: 3;
    font-weight: 600;
    margin: 0;
    font-size: 16px;
    list-style: none;
    display: flex;

}

.beskrivelse li p {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-left: 8px;
    margin-top: 8px;
    font-size: 16px;
}

.text-section-top b {
    color: black;
    text-transform: uppercase;
}

.krav li p {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-left: 5px;
    margin-top: 8px;
    font-size: 16px;
    color: #656270;
}



.text-section-top p {
    margin-top: 1.5em;
    font-size: 18px;
    line-height: 32px;
    color: #656270;
}

/* --------------------------- Text section --------------------------*/

.text-section {
    max-width: 1600px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;

}

.text-section h2 {
    line-height: 120%;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 3em;
    text-transform: uppercase;
    font-size: 42px;
    letter-spacing: -.5px;
}

.text-section p {
    margin-top: 1.5em;
    font-size: 18px;
    line-height: 32px;
    color: #656270;
}


/* --------------------------- Proces (2 billeder) --------------------*/


.proces {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.flexy-block {
    box-sizing: border-box;
    max-width: 45%;
    height: auto;
    width: 70vw;
    flex-basis: auto;
    position: relative;
    filter: drop-shadow(0 52px 74px rgba(0, 21, 64, .138559));
}

.flexy-block-scroll {
    max-height: 600px;
    overflow-x: auto;
    overflow-y: auto;
}

.flexy {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.work {
    margin: 2em auto;
}

/* --------------------------- 4 billeder grid ------------------------*/

.test1 {
    border-radius: 10px;
    width: 100%;
    background: #fff9ff;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .col-custom {
        margin-left: 20%;
    }

    .section-col2 {
        width: 30%;
        box-sizing: border-box;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
    }

    .mosaics .section-row {
        display: flex;
        box-sizing: border-box;
        margin-left: -15px;
        margin-right: -15px;

    }
}

@media (max-width: 420px) {
    .test1 {
        width: 80%;
        margin-left: 10%;
    }
}

/* --------------------------- Pdf sektion --------------------------*/


.pdf-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
}

.pdf-section iframe {
    border-radius: 30px;
    border-style: none;
    width: 100%;
    height: 700px;
}

@media (min-width: 420px) {
    .pdf-section {
        margin: 6em auto 20em;
    }
}

@media (min-width: 768px) {
    .pdf-section {
        max-width: 70%;
        height: 500px;
    }
}

@media (max-width: 420px) {
    .pdf-section {
        max-width: 90%;
        margin-left: 5%;
        margin-bottom: 10em;
    }
}

/* --------------------------- Video sektion --------------------------*/


.video-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 95%;
    margin: 6em auto 0;
}

.recording-container {
    width: 100%;
    max-width: 1498px;
    overflow: hidden;
    box-shadow: 0 52px 74px rgba(0, 21, 64, .138559);
    border-radius: 20px;
    margin-bottom: 10em;
}

.recording {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

/* ------------------------- 6 telefoner grid --------------------------*/

.second-section {
    position: relative;
    margin: 5em auto 0;
}

.examples-row {
    width: 100%;
    display: grid;
    position: relative;
    z-index: -1;
    max-width: 1600px;
}

.examples-block {
    position: relative;
    max-width: 444px;
    margin: 0 auto;
}

.examples-img {
    max-width: 100%;
    margin: 0 auto;
}

.second-section:before {
    z-index: -1;
    background: linear-gradient(343.21deg, #f8c6ff 3.25%, rgba(255, 196, 255, 0) 58.56%), #ffeec4;
    width: 100%;
    height: 80%;
    content: "";
    position: absolute;
    left: 0;
    top: 10%;
    border-radius: 20px;
}

@media (min-width: 768px) {
    .examples-row {
        gap: 3em;
        margin: 3em auto;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 992px) {
    .second-section {
        max-width: 95%;
    }
}

@media (min-width: 544px) {
    .second-section:before {
        display: block;
    }

}

/* --------------------------- continue sektion ------------------------*/

.continue {
    border: 4px solid #fdf5ee;
    max-width: 95%;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 10em;
    margin-bottom: 2em;
    background: linear-gradient(350deg, #f8c6ff -6%, rgba(255, 196, 255, 0) 60%), #ffeec4;
    padding: 2em;
}

.continue-microcopy {
    line-height: 30px;
    color: black;
    opacity: 0.6;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

.continue-link {
    position: relative;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -.5px;
    color: #232320;
    transition: all .2s ease-in-out;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
}



.continue-link:before {
    z-index: 5;
    content: "";
    width: 100%;
    position: absolute;
    bottom: 8px;
    height: 6px;
    left: 0;
    display: block;
    background: rgba(201, 180, 234, 0.98);
    transform: rotate(-1deg);
    transition: all .2s cubic-bezier(.175, .885, .32, 1.275);
}

.continue-col-left {
    margin: 0 0 2em;
}

.continue-link:hover {
    color: #9b369b;
    text-decoration: none;
}

.continue-link:hover:before {
    transform: scale3d(1.2, 1.2, 1.2);
}

.continue-link span {
    position: relative;
    z-index: 10;
}

.continue-arrow-prev {
    top: 0;
    left: -100px;
}

.continue-arrow-next {
    top: -80px;
    right: -260px;
}

.continue-arrow {
    position: absolute;
    z-index: 5;
    display: none;
}

/* ---------------- Media Queries - continue sektion -----------------*/


@media (min-width: 544px) {
    .continue {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .continue-container {
        padding: 0 1.5em;
        width: 50%;
    }

    .continue-col-left {
        text-align: right;
        margin: 0;
    }
}

@media (min-width: 992px) {
    .continue {
        padding: 13em 4em 16em;
    }

    .continue-microcopy {
        font-size: 16px;
    }

    .continue-link {
        font-size: 50px;
    }

    .continue-arrow {
        display: block;
    }
}

/* --------------------------- Media Queries --------------------------*/



@media (max-width: 1024px) {

    .section-row {
        max-width: 1024px;
    }

    .text-section-top h2 {
        margin-top: 2em;
    }

    .text-section-top-pt h2 {
        margin-top: -3em;
    }

    .text-section h2 {
        margin-top: 2em;
    }

    .beskrivelse li {
        display: block;
    }

    .beskrivelse li p {
        display: flex;
        text-align: left;
        margin-left: 0px;
    }

    .section-col {
        margin-left: 15%;
        width: 70%;
        text-align: left;
    }

    .krav li p {
        text-align: left;
    }

    .flexy-block {
        width: 60vw;
        margin-bottom: 6em;
    }

    .proces2 .flexy {
        display: block;
        justify-content: space-between;
    }

    .flexy-block-scroll {
        width: 90vw;
        min-width: 90%;
    }

    .proces2 .section-col {
        text-align: center;
    }

    .continue-link {
        font-size: 2.5em;
    }

    .continue-arrow-next {
        top: -30px;
        right: -150px;
    }

    .continue-arrow-prev {
        top: 100px;
        right: 150px;
    }
}

@media (max-width: 420px) {

    h2,
    p {
        text-align: center;
    }

    .project-title {
        font-size: 32px;
    }

    .project-sub-title {
        font-size: 14px;
    }

    .project-images-rs img:nth-child(2) {
        top: -0px;
    }

    .project-images-rs img:nth-child(3) {
        top: -0px;
    }

    .project-hero-container {
        padding: 3em 4em;
        width: 95%;
        text-align: center;
    }

    .project-hero {
        height: 450px;
    }

    .section-col {
        margin-left: 5%;
        width: 90%;
    }

    .flexy-block {
        width: 100vw;
        max-width: 100%;
    }

    .flexy-block-scroll {
        height: 600px;
        overflow-x: auto;
        overflow-y: auto;
    }

    .flexy {
        display: block;
        text-align: center;
    }

    .text-section-top-pt h2 {
        margin-top: 2em;
    }

    .continue-link {
        font-size: 2em;
    }

    .project-title-long {
        font-size: 24px;
    }
}
